.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: #E1E9FF;
    color: var(--desaturated-blue);
    padding: 0;
    margin: 0;
}

main {
    max-width: 400px;
    min-width: 350px;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
}

h1 {
    text-align: center;
    color: var(--dark-blue);
    max-width: 300px;
    min-width: 200px;
    margin: auto;
    font-weight: 900;
    font-size: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.subtitle {
    max-width: 90%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    min-height: 3rem;
    background-color: var(--very-pale-blue);
    padding: 1rem;
    min-width: 80%;
    margin: auto;
    border-radius: .5rem;
}

.pricing {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.bold {
    font-weight: 700;
    color: var(--dark-blue);
}

.change {
    margin-left: auto;
    text-decoration: underline;
    color: var(--bright-blue);
    font-weight: 700;
}

.change:hover {
    color: var(--dark-blue);
}


.pay {
    min-width: 80%;
    margin: auto;
    background-color: var(--bright-blue);
    color: white;
    padding: .8rem;
    border-radius: .5rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;

}

.pay:hover {
    background-color: var(--dark-blue);
}

.cancel {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 700;
}


.cancel:hover {
    color: var(--dark-blue);
}